# OS Files
.DS_Store
Thumbs.db

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# Logs
*.log
npm-debug.log*

# Backup and temp files
*.bak
*.tmp
*.swp